.slider-container {
    width: 100%;
    display: inline-block;
    border: 1px solid black;
}

.min-bracket-text, .max-bracket-text {
    pointer-events: none;
}

#main-container {
    height: 100%;
    width: 100%;
    background-color: #bbbbbb;
}

body, html {
    height: 100%;
    width: 100%;
}